<div id="useEditPage">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <h2>アカウント更新</h2>
    <div class="field">
      <%= f.label :名前 %><br />
      <%= f.text_field :name, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :プロフィール %><br />
      <%= f.text_area :profile, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :メールアドレス %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :現在のパスワード %> <br>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="field">
      <%= f.label :パスワード %><br>
      (変更しない場合は空欄にしてください)<br>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em>(<%= @minimum_password_length %>文字以上)</em>
      <% end %>
    </div>

    <div class="field">
      <%= f.label :パスワード（再度入力してください） %><br>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "更新する" %>
    </div>
  <% end %>

  <%= link_to "戻る", :back %>
</div>