
<div id="article-main">
  <div class="article-header">
     <h1 class="article-title"><%= @article.article_title %></h1>
     <div class="article-header-info">
       <img class="author-image" src=<%= asset_path "user.png" %> alt="">
       <p class="author-name"><%= User.find(@article.user_id).email %></p>
       <p class="article-header-time"><%=@article.updated_at%></p>
     </div>
   </div>
   <div class="article-button-container">
     <% if !user_signed_in? %>
         <%= button_to 'Like!  '+@article.liked_users.count.to_s, login_url, {method: :get, class: "article-like-button"} %>
     <% elsif Like.find_by(article_id: params[:id],user_id: current_user.id) != nil %>
       <%= button_to 'Liked!  '+@article.liked_users.count.to_s, article_like_path(@article), {method: :delete, class: "article-like-button liked"} %>
     <% else %>
       <%= button_to 'Like!  '+@article.liked_users.count.to_s, article_likes_path(@article), {method: :post, class: "article-like-button"} %>
     <% end %>
     <a href=""><button class="article-user-button">
       <img class="writer-image" src=<%= asset_path "edit.png" %> alt="">
       Writer
     </button></a>
   </div>
   <div class="article-body">
     <% @body = @article.article_data.gsub(/\R/, "<br>").gsub("<script","スクリプトコートは許可されていません")%>
     <%= raw(@body) %>
   </div>
   <div class="article-button-container">
     <% if !user_signed_in? %>
         <%= button_to 'Like!  '+@article.liked_users.count.to_s, login_url, {method: :get, class: "article-like-button"} %>
     <% elsif Like.find_by(article_id: params[:id],user_id: current_user.id) != nil %>
       <%= button_to 'Liked!  '+@article.liked_users.count.to_s, article_like_path(@article), {method: :delete, class: "article-like-button liked"} %>
     <% else %>
       <%= button_to 'Like!  '+@article.liked_users.count.to_s, article_likes_path(@article), {method: :post, class: "article-like-button"} %>
     <% end %>
     <a href=""><button class="article-user-button">
       <img class="writer-image" src=<%= asset_path "edit.png" %> alt="">
       Writer
     </button></a>
   </div>
</div>
