
<!-- flexbox やるとなんかバグる -->
<div class="">
    <div id="mainContent">
        <div class="headline">
          <img class="home-icon" src=<%= asset_path "dashboard.png" %> alt="">
          <div>新着記事一覧</div>
        </div>
        <div id="articleList">
            <% @articles.each do |a| %>
              <div class="article article_border">
                <div class="tr-item">
                  <img class="home-articleicon" src=<%= asset_path "user.png" %> alt="">
                </div>
                <div class="tr-item-body">
                  <a href="/articles/<%= a.id.to_s %>" ><h2 class="article_title"><%= a.article_title.to_s %></h2></a>
                  by <%= User.find(a.user_id).email %>, <%= a.updated_at.to_s %>, いいね:<%= a.liked_users.count%>
                </div>
              </div>
            <% end %>
        </div>
    </div>
    <!-- 実装する余裕ない泣
    <div id="sideber">
        サイドバー
    </div>
    -->
</div>
