<!DOCTYPE html>
<html>
  <head>
    <title>Yakcy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Roboto+Condensed&display=swap" rel="stylesheet">
  </head>

  <body>

    <div id="header">
      <div class="header-img-element">
        <a href="/">
          <img class="head-logo" src=<%= asset_path "yakcy_logo.png" %> alt="">
        </a>
      </div>
      <div class="header-element flexbox">
        <% if user_signed_in? %>
        <div class="header-element-inner text_center_box common_border">
          <%= link_to "ログアウト","/logout", class:"header-element-link" %>
         </div>
         <div class="header-element-inner text_center_box common_border">
           <%= link_to "投稿", "/articles/new", class:"header-element-link" %>
          </div>
        <% else %>
        <div class="header-element-inner text_center_box common_border">
          <%= link_to "ログイン", "/users/sign_in", class:"header-element-link" %>
        </div>
        <div class="header-element-inner text_center_box common_border">
          <%= link_to "新規登録", "/users/sign_up", class:"header-element-link" %>
        </div>

        <% end %>
      </div>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <div id="footer">
      <div class="footer-element">
        <div class="footer-element-inner">
          <img class="footer-logo" src=<%= asset_path "yakcy_logo.png" %> alt="">
          <div class="footer-element-version">
          バージョン(α1.0)
          </div>
        </div>
      </div>
      <div class="footer-element">
        <div class="footer-element-link">
          <a href="/">Home</a>
        </div>
      </div>
  </div>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
