<!DOCTYPE html>
<html>
  <head>
    <title>Yakcy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header">
      ヘッダー（ロゴ、ログイン、会員ページのリンクなど）
      <% if user_signed_in? %>
        投稿
      <% else %>
        <%= link_to "ログイン", "/users/sign_in" %>
        <%= link_to "アカウント作成", "/users/sign_up" %>
      <% end %>
    </div>

    <%= yield %>

    <div id="footer">
      フッター（コピーライトなど）
    </div>
  </body>
</html>
