<!DOCTYPE html>
<html>
  <head>
    <title>Yakcy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="header" style="height:100px;background-color:#888888">
      <!--TODO:ここにヘッダー作成お願いします -->
      <% if user_signed_in? %>
        <%= link_to("投稿", "/articles/new") %>
        <%= link_to("ログアウト","/logout") %>
      <% else %>
        新規登録
        <%=link_to("ログイン","/login") %>
      <% end %>
      <!--TODO:ヘッダーここまで -->
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
